# Binaries
/bin/
*.exe
*.dll
*.so
*.dylib

# Go build cache
/build/
dist/

# Logs
*.log

# IDE stuff
.vscode/
.idea/
*.swp
*.swo

# Local config
.env

# Generated code
internal/adapter/http/api/openapi.gen.go

# Docker artifacts
docker-data/
